{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <br>
        <h3 class="content">Face Recognition Application</h3>

        <p class="content">
            Face Recognition and Gender Classification: This app is driven by data and machine learning model.
            When an image is uploaded to the app, it convert the image into grayscale and crops the face from the image using Haar Cascade Classifier.
			It then converts it to eigen image and finally uses Support Vector Machines to predict the gender of the image.
			All of this functionality is rendered using a flask app.
        </p>
        <br>
        <img src="{{ url_for('static',filename='images/002.PNG') }}" alt="" width="600" height="230">
        <br>
        <div align="center">
            <a class="btn btn-outline-primary" href="{{ url_for('gender') }}">Try it now</a>
        </div>
       
    </div>


{% endblock  %}